/*
 * Mixins
 */
/*
 * Normalize variables
 */
/*
 * Bootstrap variables
 */
/*
 * Colors
 */
/*
 * Layout
 */
.Blur video {
  -webkit-filter: Blur(15px);
  -moz-filter: Blur(15px);
  filter: Blur(15px); }

.Sepia video {
  -webkit-filter: Sepia(100%);
  -moz-filter: Sepia(100%);
  filter: Sepia(100%); }

.Grayscale video {
  -webkit-filter: Grayscale(100%);
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); }

.Invert video {
  -webkit-filter: Invert(100%);
  filter: Invert(100%); }

#filterContainer {
  border: 1px solid #DDD;
  height: 43px;
  box-sizing: border-box;
  box-shadow: 1px 1px 3px #999 inset;
  font-size: 20px;
  color: white;
  padding-top: 10px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  right: 400px;
  left: 0px;
  background-color: #EEE; }
  #filterContainer h1 {
    display: inline;
    font-size: 20px;
    line-height: 100%;
    padding: 0 10px;
    color: #444444;
    font-family: "AvantGardeGothicITCW01X";
    font-weight: normal; }
  #filterContainer #filterOptions {
    display: inline; }
    #filterContainer #filterOptions .filterOption {
      font-family: "AvantGardeGothicITCW01X";
      font-weight: normal;
      color: #999999;
      cursor: pointer; }
      #filterContainer #filterOptions .filterOption:hover {
        background-color: #1ba3dd;
        color: white; }
    #filterContainer #filterOptions .optionSelected {
      background-color: #1ba3dd;
      color: white; }
