/*
 * Mixins
 */
/*
 * Normalize variables
 */
/*
 * Bootstrap variables
 */
/*
 * Colors
 */
/*
 * Layout
 */
html, body {
  height: 100%; }

body {
  background: #433931 no-repeat center center fixed;
  /* Old browsers */
  background-image: radial-gradient(circle at 50% 50%, #433931, #1e1916);
  background-image: -webkit-radial-gradient(50% 50%, circle, #433931, #1e1916);
  background-image: -moz-radial-gradient(50% 50%, circle, #433931, #1e1916);
  background-image: -ms-radial-gradient(50% 50%, circle, #433931, #1e1916);
  background-image: -o-radial-gradient(50% 50%, circle, #433931, #1e1916);
  min-height: 100%; }

.container {
  width: 960px;
  box-sizing: border-box;
  min-height: 100%;
  text-align: center; }
  .container #opentokLogo {
    position: fixed;
    bottom: 20px;
    right: 20px; }

body, input {
  font-family: "AvantGardeGothicITCW01X";
  color: #ffffff; }

h1 {
  font-family: "AvantGardeGothicITCW01X";
  font-size: 60px;
  line-height: 100%;
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: capitalize;
  text-align: center;
  line-height: 100%; }

#roomContainer {
  text-align: center; }

#roomName {
  background-color: transparent;
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: #88889a;
  color: #ffffff;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
  height: 60px;
  width: 400px;
  box-sizing: border-box;
  vertical-align: top;
  margin: 0;
  padding: 0; }

#submitButton {
  background-color: #ffffff;
  width: 150px;
  height: 60px;
  box-sizing: border-box;
  line-height: 100%;
  display: inline-block;
  font-size: 40px;
  margin: 0 0 0 15px;
  padding: 10px;
  text-align: center;
  color: #454545;
  opacity: 0.9;
  text-decoration: none; }
  #submitButton:focus {
    opacity: 1; }
  #submitButton:hover {
    cursor: pointer;
    opacity: 1; }

#actionItem {
  width: 565px;
  text-align: left;
  margin: auto; }

input {
  vertical-align: bottom; }

input::-webkit-input-placeholder {
  /* WebKit browsers */
  line-height: 130%; }

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  line-height: 130%; }

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  line-height: 130%; }

input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  line-height: 130%; }

#infoBox {
  margin-top: 50px; }
