/*
 * Layout
 */
html {
  background-color: $backgroundColor;
}

.container {
  @include centered( $fixedPageWidth );
  position:relative;
}

// Border Box sizing is more logical
* { 
  @include box-sizing('border-box');
}

// Layout sections
section {
  @include border-radius(10px);
  @include box-shadow(3px 4px 5px $btnShadowColor);
  padding: 15px;
  background: $backgroundContrastColor;
  margin: 10px;
}

/*
 * Buttons
 */

.btn {
  text-decoration: none;
  display: block;
  text-align: center;
  color: $btnTextColor;
  background-color: $btnBackgroundColor;
  &:hover {
    background-color: $btnHoverBackgroundColor;
    cursor: pointer;
  }
}

.rounded-btn {
  @extend .btn;
  // TODO: define this in terms of ems
  @include border-radius(10px);
}

.rounded-shadow-btn {
  @extend .rounded-btn;
  @include box-shadow(0 0 10px $btnShadowColor);
}

/*
 * Heading Colors
 */

h1, h2, h3, h4, h5, h6 {
  color: $hdrColor;
}

