// Normalize variables
$legacy-support-for-ie7 : false;
$legacy-support-for-ie6 : false;

$base-font-family : 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Bootstrap variables
$zindexModalBackdrop : 1040;
$zindexModal : 1050;
$baseLineHeight : 20px;
$black : #000;
$white : #fff;

// Colors
$backgroundColor : #F2F2EC;

// Layout
$fixedPageWidth : 940px;
