/*
 * Normalize variables
 */
$legacy-support-for-ie7 : false;
$legacy-support-for-ie6 : false;

$base-font-family : 'Helvetica Neue', Helvetica, Arial, sans-serif;

/*
 * Bootstrap variables
 */
$zindexModalBackdrop : 1040;
$zindexModal : 1050;
$baseLineHeight : 20px;
$black : #000;
$white : #fff;

/*
 * Colors
 */

// Theme

$pink : #0099cc;
$warm-gray : #F2F2EC;
$dark-gray : #444;

// Element Properties

$backgroundColor : $warm-gray;
$backgroundContrastColor : desaturate(darken($backgroundColor, 9%), 3%);

$btnTextColor : white;
$btnBackgroundColor: $pink;
$btnHoverBackgroundColor : $dark-gray;
$btnShadowColor : rgba(0,0,0,0.3);

$hdrColor: $pink;
$hdrContrastColor: $white;

$inputInnerShadowColor : $btnShadowColor;

$roomShadowColor: black;
$roomBackgroundColor: white;
$roomBorderColor: $pink;

$roomAccentColor: $pink;

$overlayBlockingColor: rgba(0, 0, 0, 0.95);

$chatInputColor: $dark-gray;

/*
 * Layout
 */
$fixedPageWidth : 940px;


$light-gray : #999;
