html{
  background-color:#F2F2EC;
  width:100%;
  height:100%;
}
body{
  background:none;
}
ul{
  margin:0;
}
li{
  list-style:none;
}

.container{
  width:1000px;
}

#header{
  width:100%; 
  /*background-color:rgba(0,170,153,0.5);*/
  height:80px;
}
#logo{
  position:relative;
  width:350px;
  height:80px;

}
#logo div{
  background:#C40A68;
  position:absolute;
  width:50px;
  height:50px;
  text-align:center;
  font-size:40px;
  color:white;
  border-radius:5px;
  top:20px;
}
.icon-film{
  position:relative;
  top:15px;
}

#logo h4{
  position:absolute;
  top:28px;
  left:60px;
  font-size:35px;
  font-family: 'Carrois Gothic SC', sans-serif;
}

.section_divider{
  width:90%;
  border-top:1px solid #E4E4DE;
  margin-top:10px;
  margin-bottom:10px;
}
select:focus,select:focus, input:focus,input:hover{
  outline:none;
}

.background_dimmer{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background:black;
  opacity:0.8;
}
.floatingContent{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background:none;
  z-index:101;
}
#namePrompt{
  width:400px;
  height:150px;
  background:white;
  margin:300px auto 0 auto;
  padding:10px;
  border-radius:10px;
}
#namePrompt input{
  width:90%;
  padding-left:20px;
  padding-right:20px;
  height:30px;
  border-radius:5px;
  border:1px solid #DDD;
  font-size:20px;
}
#namePrompt input:focus{
  outline: none;
  box-shadow: 1px 1px 3px #999 inset;
}
.submitName{
  width:100px;
  height:30px;
  float:left;
  margin-top:10px;

}

