#create_topic{
  text-decoration:none;
  position:absolute;
  bottom:30px;
  left:20px;
  display:block;
  padding:30px 10px 30px 10px;
  font-size:30px;
  width:400px;
  color:white;
  text-align:center;
  background-color:#C40A68;
  border-radius:5px;
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.3);
}
#create_topic:hover{
  background-color:#444444;
  cursor:pointer;
}
.roomsTitle{
  color:#C40A68;
  border-bottom:1px dotted #C40A68;
}
#roomList{
  width:100%;
  background:rgba(0,0,0, 0.1);
  padding:15px;
  border-radius:10px;
} 
.room_view{
  position:relative;
  box-shadow:0 0 10px black;
  background:white;
  border:10px solid transparent;
  border-radius:10px;
  padding:5px;
  border-top-left-radius:100px;
  border-bottom-left-radius:100px;
  margin-bottom:15px;
  height:90px;
}
#roomList li:hover{
  cursor:pointer;
  border-color:#C40A68;
}

.name{
  position:absolute;
  font-size:25px;
  font-weight:bold;
  top:5px;
  left:50px;
  width:560px;
  height:30px;
  overflow:hidden;
  line-height:30px;
}
.description{
  position:absolute;
  top:40px;
  left:60px;
  bottom: 0;
  font-size:20px;
  font-weight:bold;
  color:#bbbbbb;
  width:500px;
  overflow:auto;
  overflow-x:hidden;
  text-align:left;
}
.description i{
  font-size:15px;
}

.description p{
  display:block;
  position:absolute;
  top:0px;
  left:30px;
  width:100%;
  word-wrap: break-word;
  line-height:110%;
}
.liveSign img{
  width:15px;
  height:15px;
}
.liveSign{
  color:#C40A68;
  position:absolute;
  top:10px;
  right:20px;

}
#user_preview{
  position:absolute;
  top:40px;
  right:80px;
  width:260px;
  height:50px;
}
#user_preview li{
  display:block;
  float:left; 
  width:50px;
  height:50px;
  border:2px solid grey;
  border-radius:100px;
  overflow:hidden;
  margin-right:10px;
}
#user_preview img{
  width:100px;
  height:50px;
}
.user_preview_header{
  position:absolute;
  color:#C40A68;
  top:0px;
  right:200px;
  border-bottom:1px dotted  #C40A68;

}

.modal-header h3{
  color: #C40A68;
}
.submitTopic {
  background-color:#C40A68;
  color:white;
  padding:5px 10px 5px 10px;
  border-radius:5px;
  font-size:20px;
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.3);
  border:none;


}
.modal-body input{
  position:relative;
  line-height:50px;
  display:block;
  width:450px;
  height:40px;
  margin:0 auto;
  color:#D65C95;
  font-size:28px;
  background-color:#E6E6DB;
  padding:6px 0px 5px 10px;
  margin-bottom:15px;
  border-radius:5px;
  box-shadow:inset 2px 2px 3px rgba(0, 0, 0, 0.3);

}
.modal-body textarea{
  display:block;
  color:#D65C95;
  font-size:28px;
  width:450px;
  height:100px;
  margin:0 auto;
  resize:none;
  background-color:#E6E6DB;
  padding-top:10px;
  border-radius;5px;
  box-shadow:inset 2px 2px 3px rgba(0, 0, 0, 0.3);
}
.modal-footer span{
  color:#D65C95;
  font-weight:bold;
  font-size:20px;
  float:left;
  margin-left:30px;

}
#downloadButton{
  width:300px;
  height:40px;
  font-size:20px;
  background:#C40A68;
  color:white;
}


#publisherContainer{
  text-align:center;
}
#myPublisher{
  display:inline-block;
}
