.showRoomContainer{
  #statusBar{
    position:fixed;
    top:-25px;
    left: 50%;
    margin-left: -130px;
    padding-top: 30px;
    width: 260px;
    height: 30px;
    background-color:#fff;
    color: $pink;
    font-size: 20px;
    text-align:center;
    border-radius:15px;
    box-shadow: 0px 0px 3px 3px #999;
    display:none;
    img{
      height: 20px;
    }
  }
}
body.rooms_controller {
  &.show_action {

    // Crutches: these should be removed while modularizing the styles.
    // It was put here just to help make things "work" and get a usable 
    // version out.
    * { box-sizing: content-box; }
    .container { width: 1000px; }

    // TODO: list of modules
    // * StreamsContainer
    // * StreamContainer
    // * ChatArea
    // * VideoEffects?

    #createClientOverlay{
      position:fixed;
      top:0;
      right:0;
      left:0;
      bottom:0;
      background-color: $overlayBlockingColor;
      z-index:2;
      h1{
        text-align:center;
      }
    }

    #clientInfoContainer{
      top: 0px;
      right: 0px;
      left:280px;
      z-index:3;
      color: $hdrColor;
      h1{
        margin-top:0;
        line-height:100%;
      }
      #submitClientName{
        @extend .rounded-shadow-btn;
        margin-top: 20px;
        padding: 10px;
        width:165px;
      }
    }

    #streams{
      width:540px;
      height:400px;
    }

    #streams_container{
      position:relative;
      width:520px;
      height:380px;
      border-radius:5px;
      background:url('/img/empty_slot.png');
      border:10px solid $pink;
      background-color:white;
      .subscriber_stream_content:hover .flagUser{
      }

      .subscriber_stream_content .flagUser{
        position:absolute;
        top:75px;
        left:50px;
        border:none;
        box-shadow:0.15em 0.25em 0.33em rgba(0, 0, 0, 0.3);
        background-color:#C40A68;
        color:white;
        font-size:15px;
        padding:10px;
        border-radius:7px;
        width: 110px;
        height: 25px;
        text-align:center;
        cursor:pointer;
        display:none;
      }
    }

    .clickThrough{
      pointer-events:none;
    }
    #streams_container div{
      position:absolute;
      width:260px;
      height:190px;
      #box-shadow:0 0 2px #C40A68 inset;
    }

    .stream_content {
      z-index:1;
    }

    #stream_1{
      left:0px;
      z-index:3;
    }

    #stream_2{
      right:0px;
    }

    #stream_3{
      bottom:0px;
    }

    #stream_4{
      bottom:0px;
      right:0px;
    }

    #title{
      position:relative;
      width:540px;
      height:80px;
    }

    #title_content{
      position:relative;
      width:100%;
      border-top-left-radius:100px;
      border-bottom-left-radius:100px;
      height:100%;
      background-color: $roomAccentColor;
    }

    #title_content h3{
      position:relative;
      float:left;
      left:10px;
      width:81%;
      height:60px;
      text-align:center;
      color: $hdrContrastColor;
    }

    #user_image{
      float:left;
      margin-left:10px;
      margin-top:10px;
      width:50px;
      height:50px;
      border-radius:100px;
      overflow:hidden;
      border:5px solid rgba(252,252,252,0.7) ;
    }

    #user_image img{
      display:block;
      width:50px;
      height:50px;
    }

    #room-icon img{
      width:80px;
      height:80px;
    }

    #chatroom{
      position:absolute;
      right:-20px;
      top:0px;
      background:white;
      width:422px;
      height:545px;
      border-radius:5px;
      border:3px solid $pink;
    }

    #displayChat{
      width:410px;
      height:495px;
      padding:5px;
      overflow:auto;
      background:#EEE;
    }

    #displayChat .chatMessage{
      margin:10px 5px 5px 5px;
      font-size:15px;
      word-wrap:break-word;
    }

    #displayChat li h4{
     display:inline;
     font-size:15px;
    }

    #chatInput{
      width:422px;
      height:40px;
    }

    #chatInput input{
      border:1px solid #DDD;
      border-radius:5px;
      position:relative;
      left:2px;
      position:relative;
      background:none;
      height:35px;
      width:368px;
      font-size:20px;
      color: $chatInputColor;
      padding-left:45px;
    }

    #chatInput i{
      font-size:30px;
      position:relative;
      left:10px;
      top:-25px;
      // hardcoded in javascript
      color:#8D8F8F;
      float:left;
    }

    #chatInput input:focus{
     outline: none;
     box-shadow: 1px 1px 3px #999 inset;
    }

    #photo_preview{
      float:right;
      margin-right:20px;
      width:200px;
      height:150px;
    }

    #filterContainer{
      width:1010px;
      height:40px;
      font-size:32px;
      color: $hdrContrastColor;
      padding-top:10px;
      margin: 20px 10px;
      box-shadow: 3px 3px 3px #999 inset, -1px -1px 3px #999 inset;
      h1{
        display:inline;
        font-size: 30px;
        line-height: 100%;
        padding: 0 30px 0 30px;
        color: $dark-gray;
      }
      #filterOptions{
        display:inline;
        .filterOption{
          color: $light-gray;
          cursor:pointer;
          &:hover{
            background-color: $pink;
            color: $white;
          }
        }
        .optionSelected{
          background-color: $pink;
          color: $white;
        }
      }
    }
  }
}

.showRoomContainer{
  margin-top: 30px;
  position:relative;
}

.Blur video{
  -webkit-filter: Blur(15px);
}
.Sepia video{
  -webkit-filter: Sepia(100%);
}
.Grayscale video{
  -webkit-filter: Grayscale(100%);
}
.Invert video{
  -webkit-filter: Invert(100%);
}
