/*
 * Mixins
 */

@mixin radialBackground( $to, $from ){
  background:$from no-repeat center center fixed; /* Old browsers */
  background-image: radial-gradient(circle at 50% 50%, $from, $to);
  background-image: -webkit-radial-gradient(50% 50%, circle, $from, $to);
  background-image: -moz-radial-gradient(50% 50%, circle, $from, $to);
  background-image: -ms-radial-gradient(50% 50%, circle, $from, $to);
  background-image: -o-radial-gradient(50% 50%, circle, $from, $to);
}

/*
 * Normalize variables
 */
$legacy-support-for-ie7 : false;
$legacy-support-for-ie6 : false;

$base-font-family : "AvantGardeGothicITCW01X", 'Helvetica Neue', Helvetica, Arial, sans-serif;
$avantFont: "AvantGardeGothicITCW01X";
/*
 * Bootstrap variables
 */
$zindexModalBackdrop : 1040;
$zindexModal : 1050;
$baseLineHeight : 20px;
$black : #000;
$white : #fff;

/*
 * Colors
 */

//index page
$darkBrown: #1e1916;
$lightBrown: #433931;

// Theme

$pink : #1ba3dd;
$warm-gray : #F2F2EC;
$dark-gray : #444;

// Element Properties

$backgroundColor : $warm-gray;
$backgroundContrastColor : desaturate(darken($backgroundColor, 9%), 3%);

$btnTextColor : white;
$btnBackgroundColor: $pink;
$btnHoverBackgroundColor : $dark-gray;
$btnShadowColor : rgba(0,0,0,0.3);

$hdrColor: $pink;
$hdrContrastColor: $white;

$inputInnerShadowColor : $btnShadowColor;

$roomShadowColor: black;
$roomBackgroundColor: white;
$roomBorderColor: $pink;

$roomAccentColor: $pink;

$overlayBlockingColor: rgba(0, 0, 0, 0.95);

$chatInputColor: $dark-gray;

/*
 * Layout
 */
$fixedPageWidth : 940px;


$light-gray : #999;

