@import "variables";
#chatroom{
  background:white;
  border:3px solid $pink;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  width: 400px;
  box-sizing: border-box;
}

#chatElementContainer{
  height:100%;
  position:relative;
}

#displayChat{
  padding:5px;
  overflow:auto;
  background:#EEE;
  position:absolute;
  right:0;
  left:0;
  top:0;
  bottom:40px;
  .chatEvent{
    text-align:center;
    color: #aaa;
  }
  .chatMessage{
    margin:10px 5px 5px 5px;
    font-size:15px;
    word-wrap:break-word;
  }
  li h4{
    display:inline;
    font-size:15px;
  }
}

#chatInput{
  height:40px;
  position:absolute;
  right:0;
  left:0;
  bottom:0;
  input{
    border:1px solid #DDD;
    background:none;
    height:40px;
    width:100%;
    box-sizing: border-box;
    font-size:20px;
    color: $chatInputColor;
    padding-left:45px;
    &:focus{
      outline: none;
      box-shadow: 1px 1px 3px #999 inset;
    }
  }
  i{
    font-size:30px;
    position:relative;
    left:10px;
    top:-25px;
    color:#8D8F8F;
    float:left;
  }
}
