@import "variables";

.Blur video{
  -webkit-filter: Blur(15px);
  -moz-filter: Blur(15px);
  filter: Blur(15px);
}
.Sepia video{
  -webkit-filter: Sepia(100%);
  -moz-filter: Sepia(100%);
  filter: Sepia(100%);
}
.Grayscale video{
  -webkit-filter: Grayscale(100%);
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); 


}
.Invert video{
  -webkit-filter: Invert(100%);
 filter: Invert(100%);
}


#filterContainer{
  border:1px solid #DDD;
  height:43px;
  box-sizing: border-box;
  box-shadow: 1px 1px 3px #999 inset;
  font-size:20px;
  color: $hdrContrastColor;
  padding-top:10px;
  text-align:center;
  position:fixed;
  bottom: 0px;
  right: 400px;
  left: 0px;
  background-color: #EEE;
  h1{
    display:inline;
    font-size: 20px;
    line-height: 100%;
    padding: 0 10px;
    color: $dark-gray;
    font-family: $avantFont;
    font-weight:normal;
  }
  #filterOptions{
    display:inline;
    .filterOption{
      font-family: $avantFont;
      font-weight:normal;
      color: $light-gray;
      cursor:pointer;
      &:hover{
        background-color: $pink;
        color: $white;
      }
    }
    .optionSelected{
      background-color: $pink;
      color: $white;
    }
  }
}
